.loginButton {
  position: fixed;
  left: 2vmax;
  top: 2vmax;
  width: 10px;
  color: black;
}

.homeButton {
  width: 10px;
  color: black;
}

.shoppingCart {
  width: 10px;
  color: black;
}

.logoutIcon {
  width: 10px;
  color: black;
  margin-right: 2px;
}

.flexNav {
  display: flex;
  position: fixed;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  gap: 5px;
  right: 2vmax;
  top: 2vmax;
}
